.white-btn{
  background-color: #fff;
  color: $blacktext;
  border: 2px solid $mylightgrey;
  border-radius: 8px;
  padding: 9px 7px;
  font-weight: 700;
  &:hover{
    border-color: $myblack;
  }
}
