// font
body{
font-family: 'Nunito', sans-serif;
}

// container media query
.container{
  @media (min-width: 1200px){
  max-width: 1050px;
  }
  @media (min-width: 1400px){
  max-width: 1250px;
  }
  @media (min-width: 1600px){
  max-width: 1450px;
  }
  @media (min-width: 1800px){
  max-width: 1650px;
  }
  @media (min-width: 2000px){
  max-width: 1850px;
  }
}

// button arancione
.my-btn{
  @include button-style;
   background-color: $myorange;
   border-radius: 9px;
   color:#fff;
   border: 0;
   &:focus{
     box-shadow: none;
   }
}

// stile link
a{
  text-decoration: none;
  color: $blacktext;
  &:hover{
    color: $blacktext;
    text-decoration: none;
  }
}

// search pagine admin
.search{
  border: 2px solid $mygrey;
  background-color: $mylightgrey;
  padding: 8px 0;
  text-align: center;
  .searchbar{
    @include flex-align-center;
    input{
      @media (max-width: 992px){
        width: 50%;
      }
    }
  }

  input{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    outline: none;
  }
}

// titolo pagine admin
.title-admin{
  font-weight: 700;
}

// card
.my-card{
  width: 100%;
  border-radius: 9px;
  border: 2px solid $mygrey;
  p{
    margin-bottom: 0;
  }
  .my-card-img-top{
    padding: 14px;
    .cover{
      background-position: center;
      background-size: cover;
      height: 190px;
      border-radius: 9px;
      @media (min-width: 600px){
        height: 160px;
      }
      @media (min-width: 1550px){
        height: 210px;
      }
    }
  }
  .my-card-body{
    padding-left: 16px;
    padding-right: 16px;
    a{
      margin-left: 0;
    }
    .my-card-title{
      text-transform: capitalize;
      font-size: 0.9rem;
      font-weight: 800;
      margin-bottom: 4px;
    }
    .my-card-text{
      font-size: 0.8rem;

      .address{
        padding-top: 3px;
        font-weight: 800;
        text-transform: capitalize;
        .via{
          font-weight: 600;
        }
      }
    }
  }
}

// dropdown menu
.nav-link{
  text-align: right;
  margin-top: 15px;
}
.dropdown-menu{
  text-align: right;
  border: none;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{
  background-color: $myorange;
}

// checkbox
input[type='checkbox']:after {
     width: 17px;
     height: 17px;
     top: -2px;
     left: -1px;
     position: relative;
     background-color: #d1d3d1;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
 }

 input[type='checkbox']:checked:after {
     width: 17px;
     height: 17px;
     top: -2px;
     left: -1px;
     position: relative;
     background-color: $myorange;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
 }

 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
