.my-container-fluid{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

#my-carousel{
  .my-carousel-inner{
    .my-carousel-item{
      height: 70vh;
      overflow: hidden;
      .bg-slider{
        filter: brightness(90%);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .my-search {
    width: 50%;
    z-index: 1;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    @media (max-width: 600px){
      width: 50%;
    }
  }
  .slogan{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    p{
      text-shadow: 1px 1px grey;
      font-size: 3rem;
      font-weight: 800;
    }
    @media (max-width: 768px){
      display: none;
    }
  }
  .my-input-group{
    #welcome{
      flex-direction: column!important;
      input{
        padding: 0 20px;
        margin-right: 0!important;
        height: 60px;
        border-radius: 27px;
        box-shadow: none;
        outline: none;
        border: 1px solid $mygrey;
      }
      &.my-dropdown{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1;
      }
      .my-dropdown-menu{
        text-align: left;
        position: absolute;
        top: 120%;
        width: 100%;
        z-index: 10;
      }

      // border: 5px solid grey;
      //     border-radius: 50px;
      //     background-color: white;


      .my-results{
        // width: 100%;
        // z-index: 1;
        // position: absolute;
        // top: 500%;
        // left: 50%;
        // transform: translate(-50%, 50%);
        border-radius: 15px;

        ul{
          border-radius: 15px;
          box-shadow: 2px 2px grey;
          padding-inline-start: 0;
          list-style: none;
          background-color: white;

          // background-color: white;
          // border: 2px solid orange;
          li{
            color: black;
            line-height: 2;
            text-align: left;
            padding-left: 10px;
            &:first-child{
              border-radius: 15px 15px 0 0;
            }
            &:last-child{
              border-radius: 0 0 15px 15px;
            }
            &:hover{
              background-color: #FA6934;
              color: white;
            }
          }
          @media (max-width: 600px){
            font-size: 12px;
        }
        }
      }
    }
  }
}

// .my-card{
//   border-radius: 11px;
//   &:hover{
//     border: 2px solid $myblack;
//   }
//   p{
//     margin-bottom: 0;
//   }
//   a[title]:hover::after{
//     font-size: 3em;
//   }
//
//   .my-card-img-top{
//     img{
//       max-width: 100%;
//       border-radius: 21px;
//       padding: 14px;
//     }
//   }
//
//   .my-card-body{
//     padding-top: 0;
//     padding-left: 16px;
//     padding-right: 16px;
//     a{
//       margin-left: 0;
//     }
//
//     .my-card-title{
//       text-transform: capitalize;
//       font-size: 0.9rem;
//       font-weight: 800;
//       margin-bottom: 4px;
//     }
//     .my-card-text{
//       font-size: 0.8rem;
//
//       .address{
//         font-weight: 700;
//         text-transform: capitalize;
//       }
//       .actions{
//         display: flex;
//         justify-content: space-between;
//         font-size: 0.8rem;
//         font-weight: 700;
//         font-size: 1.4rem;
//
//         a{
//           &:hover i{
//             transform: scale(1.2);
//             color: $myorange;
//           }
//         }
//       }
//       .beds-rooms{
//         font-weight: 600;
//         color: $greytext;
//         .rooms{
//           padding-right: 7px;
//         }
//         .beds{
//           padding-left: 7px;
//         }
//         .circle{
//           font-size: 1.1rem;
//         }
//       }
//     }
//   }
// }
