main#dashboard{
  padding-bottom: 400px;
  .info{
    .user {
      font-size: 1.8rem;
      font-size: 700;
    }
  }

  .content{
    .tools{
      .my-card{
        &:hover{
          border: 2px solid $myorange;
          transition: 0.4s ease;
          transform: scale(1.05);
        }
        p{
          font-size: 1rem;
          font-weight: 700;
          @include flex-align-center;
          @media (max-width: 992px){
          justify-content: center;
          }
        }
        i{
          padding-right: 10px;
          font-size: 1.4rem;
          color: $myblack;
        }
      }
    }

    .totals{
      .my-card{
        &:hover{
          border: 2px solid $mygrey;
        }
        .number{
          padding-bottom: 10px;
          font-size: 1.5rem;
          font-weight: 700;
          @include flex-align-center;
          @media (max-width: 1200px){
            padding-top: 12px;
            padding-left: 20px;
          }
        }
        .views{
          padding-bottom: 10px;
          font-size: 1.5rem;
          font-weight: 700;
          @media (max-width: 1200px){
          padding-left: 40px;
          }
        }
        .my-card-text{
          font-size: 1rem;
          font-weight: 600;
          color: $greytext;
        }
        i{
          padding-right: 10px;
          font-size: 2rem;
          color: $myorange;
        }

        .my-card-body{
          @include flex-align-center;
          justify-content: space-between;
          padding-left: 25px;
          padding-right: 20px;
            @media (max-width: 1200px){
              flex-direction: column;
              justify-content: space-around;
            }
        }
      }
    }

    // .apartments{
    //   .my-card{
    //     .my-card-img-top{
    //       img{
    //         max-width: 100%;
    //         border-radius: 21px;
    //         padding: 14px;
    //       }
    //     }
    //     .my-card-body{
    //       .my-card-title{
    //         font-size: 1.1rem;
    //       }
    //       .my-card-text{
    //         font-size: 1rem;
    //         font-weight: 700;
    //         .expiration{
    //           span{
    //             color: $blacktext;
    //           }
    //           color: $myorange;
    //         }
    //       }
    //     }
      // }
    // }


  }
  .sponsors{
    .my-card{
      &:hover{
        border: 2px solid #ededed;
      }
      .my-card-body{
        padding: 9px 25px;
        .my-table{
          margin: 0;
          tbody{
            font-weight: 600;
            color: $greytext;
            .apartment-title{
              color: $blacktext;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
