main#index-admin{
  .card{
    border-radius: 12px;
    .my-card-img-top{
      img{
        max-width: 100%;
        border-radius: 21px;
        padding: 14px;
      }
    }
    .my-card-body{
      padding-top: 0;
      a{
        margin-left: 0;
      }
      .my-card-title{
        text-transform: capitalize;
        font-size: 0.9rem;
        font-weight: 600;
      }
      .my-card-text{
        font-size: 0.8rem;
        .address{
          font-weight: 500;
        }
        .actions{
          display: flex;
          justify-content: space-between;
          font-size: 0.8rem;
          font-weight: 500;
        }
        .rooms, .beds{
          color: $greytext;
        }
        .rooms{
          padding-right: 5px;
        }
      }
    }
  }

}


main #create{
  .title{
    color: red;
  }
}
