main#index-admin{

  .info{
    @include flex-align-center;
    justify-content: space-between;
  }

  .apartments{
    .my-card{
      &:hover{
        border: 2px solid $myorange;
      }

      .my-card-img-top{
        padding: 14px;
        .cover{
          @media (min-width: 600px){
            height: 160px;
          }
          @media (min-width: 1550px){
            height: 210px;
          }
        }
      }

      .actions{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.4rem;

        a{
          &:hover i{
            transform: scale(1.2);
            color: $myorange;
          }
        }
      }
      .beds-rooms{
        font-weight: 600;
        color: $greytext;
        .rooms{
          padding-right: 7px;
        }
        .beds{
          padding-left: 7px;
        }
        .circle{
          font-size: 1.1rem;
        }
      }

    }
  }
}
