main#index-admin{

  .grey-container{
    background-color: $mylightgrey;
    padding-bottom: 300px;
  }

  .info{
    @include flex-align-center;
    justify-content: space-between;
  }

  .apartments{
    .my-card{
      &:hover{
        transition: 0.4s ease;
        transform: scale(1.05);
        border: 2px solid $myorange;
      }

      .actions{
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 1.4rem;

        a{
          &:hover i{
            transition: 0.3s ease;
            transform: scale(1.3);
            color: $myorange;
          }
        }
      }
      .beds-rooms{
        font-weight: 600;
        color: $greytext;
        .rooms{
          padding-right: 7px;
        }
        .beds{
          padding-left: 7px;
        }
        .circle{
          font-size: 1.1rem;
        }
      }

    }
  }
}
