main#login{
  padding-top: 50px;
  input{
    &:focus{
      box-shadow: none;
      outline: none;
      border: 1px solid #ced4da;
    }
  }

  input[type='checkbox']:after {
       width: 17px;
       height: 17px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: #d1d3d1;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
   }

   input[type='checkbox']:checked:after {
       width: 17px;
       height: 17px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: $myorange;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
   }

   .my-btn{
     @include button-style;
      background-color: $myorange;
      border-radius: 9px;
      color:#fff;
      border: 0;
      &:focus{
        box-shadow: none;
      }

    .prova {
      box-shadow: none;
      outline: none;
      border: 1px solid #ced4da;
        &:focus{
          box-shadow: none;
        }
      }
   }
}
