main#welcome{
  background-color: $mylightgrey;
  .apartments{
    flex-wrap: nowrap;
    &#scroll{
      background-color: white;
      border-radius: 15px 15px;
      border: 2px solid $mygrey;
      .scroll{
        width: 100%;
        display: flex;
        overflow-x: auto;
        padding: 50px;
      }
    }
  }
  .bg-white{
    background-color: white;
  }
  .title{
    font-weight: 1400;
    color: #373a3d;
    margin-bottom: 50px;
    margin-top: 50px;
    p{
      padding-top: 20px;
    }
  }

.partnership{
  position: absolute;
  width: 100px;
  height: 1.4rem;
  background-color: #fa723f;
  border-radius: 6px;
  top: 20px;
  left: 20px;
  span{
    color: white;
    font-size: 12px;
  }
}

.my-card{
      &:hover{
        border: 2px solid $myorange;
      }

      .my-card-img-top{
        padding: 14px;
        .cover{
          @media (min-width: 600px){
            height: 160px;
          }
          @media (min-width: 1550px){
            height: 210px;
          }
        }
      }
    }
  }
