main#create{
    .content{
        background-color: $mylightgrey;
        .icon{
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
        .d-inline {
            display: inline-block;
        }
        .orange {
            color: #FFF;
            background-color: $myorange;
        }
        .child {
            flex: 1 0 20%; 
            display: flex;
            justify-content: start;
            margin-bottom: 20px;
        }
        .bold{
            font-weight: bold;
        }
        .btn{
            width: 200px;
        }
        input.form-control:focus {
            border: 1px solid #CED4DA;
            box-shadow: none;
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
        }
        select.form-control:focus{
            border: 1px solid #CED4DA;
            box-shadow: none;     
        }

        input[type="file" i]::-webkit-file-upload-button {
            border: none;
            background-color: $myorange;
            border-radius: 3px;
            color: #FFF;
            cursor: pointer;
            padding: 10px, 5px;
        }

        @media screen and (max-width: 446px) {
            .child {
                flex: 1 0 100%;
            }
        }
        @media screen and (min-width: 445px) and (max-width:991px) {
            .child {
                flex: 1 0 50%;
            }
        }
        @media screen and (min-width: 992px) and (max-width: 1399px) {
            .child {
                flex: 1 0 33%;
            }
        }
        @media screen and (min-width: 1400px) and (max-width: 1599px) {
            .child {
                flex: 1 0 25%;
            }
        }
        @media screen and (min-width: 1600px) {
            .child {
                flex: 1 0 20%;
            }
        }
    }
}
