main#dashboard{
  .info{
    .user {
      font-size: 1.8rem;
      font-size: 700;
    }
  }

  .content{
    .tools{
      .my-card{
        &:hover{
          border: 2px solid $myorange;
        }
        p{
          font-size: 1rem;
          font-weight: 700;
          @include flex-align-center;
        }
        i{
          padding-right: 10px;
          font-size: 1.4rem;
          &:hover{
            transform: scale(1.2);
            color: $myorange;
          }
        }
      }
    }

    .totals{
      .my-card{
        .number{
          padding-bottom: 10px;
          font-size: 1.5rem;
          font-weight: 700;
          @include flex-align-center;
        }
        .my-card-text{
          font-size: 1rem;
          font-weight: 600;
          color: $greytext;
        }
        i{
          padding-right: 10px;
          font-size: 2rem;
          color: $myorange;
        }

        .my-card-body{
          @include flex-align-center;
          justify-content: space-between;
          padding-left: 25px;
          padding-right: 20px;
        }
      }
    }

    // .apartments{
    //   .my-card{
    //     .my-card-img-top{
    //       img{
    //         max-width: 100%;
    //         border-radius: 21px;
    //         padding: 14px;
    //       }
    //     }
    //     .my-card-body{
    //       .my-card-title{
    //         font-size: 1.1rem;
    //       }
    //       .my-card-text{
    //         font-size: 1rem;
    //         font-weight: 700;
    //         .expiration{
    //           span{
    //             color: $blacktext;
    //           }
    //           color: $myorange;
    //         }
    //       }
    //     }
      // }
    // }


  }
  .sponsors{
    .my-card-body{
      padding: 9px 25px;
      .my-table{
        margin: 0;
      }
    }

  }
}
