// Body
$body-bg: #f8fafc;

// Typography bootstrap
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$myblack: #000000;
$myorange: #fa6933;
$myyellow: #fab533;
$mygreen: #64c739;
$mylightgrey: #faf9f8;
$mylightorange: #fbe3da;
$mygrey: #ededed;

// Text Colors
$greytext: #838282;
$blacktext: #000000;

// Colors bootstrap
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
